@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

.spinner {
    margin: 100px auto;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#app {
    height: 100%;
    width: 100%;
}

.grid-app {
    font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-row-gap: 2px;
    grid-column-gap: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    align-items: center;
}

.grid-query {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.grid-yamlheading {
    align-items: center;
    grid-column: 1;
    grid-row: 2;
    margin: 10px;
    overflow: hidden;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto 1fr;
}

.grid-overview {
    grid-column: 1;
}

.grid-help {
    grid-column: 2;
}

.grid-samplesLabel {
    grid-column: 3;
}

.grid-samplesCombo {
    grid-column: 4;
}

.grid-alert {
    grid-column: 1;
    grid-row: 3;
}

.grid-yaml {
    grid-column: 1;
    grid-row: 4;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-resultsheading {
    grid-column: 2;
    grid-row: 2;
}

.grid-results {
    grid-column: 2;
    grid-row: 3 / span 2;
    overflow: auto;
    font-family: Consolas;
    min-height: 100px;
    width: 100%;
    height: 100%;
}



