{
    "$schema": "http://json-schema.org/draft-07/schema",
    "type": "string",
    "$template": "LuceneDynamicList",
    "$generator": {
        "title": "LuceneDynamicList",
        "description": "LuceneDynamicList",
        "allOf": [
            {
                "$ref": "array.json"
            },
            {
                "$ref": "examples.json"
            }
        ]
    }
}